<h3>Users</h3>

<p-table #dt [columns]="cols" [value]="users" [lazy]="true" (onLazyLoad)="loadUsers($event)" [paginator]="true"
         [rows]="rows" [totalRecords]="totalRecords" [loading]="loading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th></th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <p-dropdown *ngSwitchCase="'type'" [options]="userTypes" [style]="{'width':'100%'}" placeholder="Select a type" [showClear]="true" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
        <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" pEditableColumn [ngSwitch]="col.field">
        <p-cellEditor *ngSwitchCase="'type'">
          <ng-template pTemplate="input">
            <p-dropdown [options]="userTypes" [(ngModel)]="user.type" required (ngModelChange)="changed(user)"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{user.type}}
          </ng-template>
        </p-cellEditor>
        <p-cellEditor *ngSwitchDefault>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="user[col.field]" required (ngModelChange)="changed(user)">
          </ng-template>
          <ng-template pTemplate="output">
            {{user[col.field]}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <a pButton [routerLink]="['/user', user.id]" label="Edit"></a>
        <button pButton type="button" (click)="delete(user.id)" label="Delete"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<div>
  <a pButton [routerLink]="['/user', '']" label="Create"></a>
</div>
