<h3>Users</h3>

<p-table #dt [columns]="cols" [value]="users" [lazy]="true" (onLazyLoad)="loadUsers($event)" [paginator]="true"
         [rows]="rows" [totalRecords]="totalRecords" [loading]="loading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th></th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <p-dropdown *ngSwitchCase="'type'" [options]="userTypes" placeholder="Select a type" [showClear]="true" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
        <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-columns="columns">
    <tr>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="user.name" required (ngModelChange)="changed(user)">
          </ng-template>
          <ng-template pTemplate="output">
            {{user.name}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="user.login" required (ngModelChange)="changed(user)">
          </ng-template>
          <ng-template pTemplate="output">
            {{user.login}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="userTypes" [(ngModel)]="user.type" filter="true" (ngModelChange)="changed(user)"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{user.type}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <span>{{user.role.name}}</span>
        <app-user-roles [(userRole)]="user.role" [(userRoles)]="userRoles" (userRoleChange)="changed(user)"></app-user-roles>
      </td>
      <td>
        <a pButton [routerLink]="['/user', user.id]" label="Edit"></a>
        <button pButton type="button" (click)="delete(user.id)" label="Delete"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<div>
  <a pButton [routerLink]="['/user', '']" label="Create"></a>
</div>
