<button type="button" pButton label="Change role" (click)="op.toggle($event)"></button>
<p-overlayPanel #op [showCloseIcon]="true" [dismissable]="false">
  <div><span>Table rows count: {{tableRowsCount}}</span> <span>Total records: {{totalRecords}}</span></div>
  <p-table #dt [columns]="cols" [value]="userRoles" scrollable="true" scrollHeight="200px" [rows]="rowsCount" [virtualScroll]="true"
             [lazy]="true" [totalRecords]="tableRowsCount" (onLazyLoad)="loadRoles($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th></th>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')"  style="width: 100%">
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{role[col.field]}}
        </td>
        <td>
          <button pButton type="button" (click)="changeRole(role);op.hide()" label="Choose"></button>
        </td>
      </tr>
    </ng-template>
  </p-table >
</p-overlayPanel>
